<div class="container">
<div class="jumbotron">

<h1>Sidejob!</h1>   
<h3>副業サーチへようこそ</h3>
<br>
<p><b>副業探しの会社員と人手不足の企業をマッチング</b></p>
<p>副業紹介の案件を見て、「自分にできるのだろうか」と戸惑いを感じている方へ。<br>
あなたを求める会社は必ずあります！<br>
あなたの職歴やスキルなどのプロフィールを登録するだけ。<br>
プロフィールを見たクライアントが直接あなたにダイレクトメッセージで案件を打診します。<br>
報酬や稼働時間などの条件は、クライアントと直接交渉して無理のない働き方を実現しましょう。</p>
<br>
<p><b>匿名なので安心</b></p>
<p>副業サーチではＩＤと呼ばれる匿名公開です。<br>
本名や連絡先は相手にはわからないため、安心してサイトを利用できます。<br>
</p>
<br>
<p><b>コメント機能やフォロー機能を利用</b></p>
<p>会員のプロフィールを見て、ダイレクトメールを送るまでもないけど気になることはコメント機能を利用しましょう。<br>
また、気になった会員には「フォロー」でチェックを。後からもう一度確認することができます。<br>
フォローしていることは相手に知られることはありません。<br>
</p>
<br>
<p><b>仕事を紹介する側になるのも自由</b></p>
<p>自分ではできない案件がきたときに、このサイトでお願いできる方を探してみましょう。<br>
きっと適任者がいるはず。気になったら声をかけてみてくださいね。<br>
クライアントに単に断るのではなく、紹介することで信用度はさらに増します。</p>
<br>



<a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">新規登録はこちらから &raquo;</a>
</div>
</div>