<div class="container">
<div class="jumbotron">

<h1>Sidejob!</h1>   
<h3>副業サーチへようこそ</h3>
<br>
<p><b>副業探しの会社員と人手不足の企業をマッチング</b></p>
<br>
<p>副業紹介の案件を見て、「自分にできるのだろうか」と戸惑いを感じている方へ。<br>
あなたを求める会社は必ずあります！<br>
あなたの職歴やスキルなどのプロフィールを登録するだけ。<br>
プロフィールを見たクライアントが直接あなたにダイレクトメッセージで案件を打診します。<br>
報酬や稼働時間などの条件は、クライアントと直接交渉して無理のない働き方を実現しましょう。</p>
<a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">新規登録はこちらから &raquo;</a>
</div>
</div>