<h2>登録ユーザープロフィール一覧</h2>

<table class = "table">
<% @profiles.each do |profile| %>
<tr>
  <td>名前</td>
  <td><%= link_to profile.user.identification, profile_path(profile) %></td>
  <td>自己紹介</td>
  <td><%= profile.introduction %></td>
</tr>
<% end %>
</table>